<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="element-padre">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `element-padre`
     * elemento principal contenedor 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElementPadre extends Polymer.Element {
      static get is() { return 'element-padre'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'element-padre'
          }
        };
      }
    }

    window.customElements.define(ElementPadre.is, ElementPadre);
  </script>
</dom-module>
