<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../tabla-uno/tabla-uno.html">
<link rel="import" href="../tabla-dos/tabla-dos.html">
<link rel="import" href="../checklist-video/checklist-video.html">


<dom-module id="element-padre">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    
    <div>
      <h1>Tituluos</h1>
    </div>
    
    
    <div>
      <section>
        tags
        <tabla-uno> </tabla-uno>
        <tabla-dos></tabla-dos>
        <checklist-video></checklist-video>
      </section>
    </div>
  </template>

  <script>
    /**
     * `element-padre`
     * elemento principal contenedor 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElementPadre extends Polymer.Element {
      static get is() { return 'element-padre'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'element-padre'
          }
        };
      }
    }

    window.customElements.define(ElementPadre.is, ElementPadre);
  </script>
</dom-module>
